<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= titulo %>
    </title>
</head>

<body id="details">
    <nav id="D">
        <a href="/index"><input type="button" value="HOME" id="nav"></button></a>
        <a href="/cadastro"><input type="button" value="CADASTRO" id="nav"></button></a>
        <a href="/catalogo"><input type="button" value="LISTA" id="nav"></button></a>
    </nav>

    <header>
        <h1>
            <%= titulo %>
        </h1>
    </header>
    <main>
        <section id="dado">
            <img id="herois" src="<%=heroi.img%>" alt="<%= heroi.nome %>">
            <ul>
                <li>Nome: <p>
                        <%= heroi.nome %>
                    </p>
                </li>
                <li>Força: <p>
                        <%= heroi.forca %>
                    </p>
                </li>
                <li>Velocidade: <p>
                        <%= heroi.vel %>
                    </p>
                </li>
                <li>Habilidade: <p>
                        <%= heroi.hab %>
                    </p>
                </li>
                <li>Equipamento: <p>
                        <%= heroi.equip %>
                    </p>
                </li>
                <li>Inteligência: <p>
                        <%= heroi.int %>
                    </p>
                </li>
                <li>Poder: <p>
                        <%= heroi.poder %>
                    </p>
                </li>
            </ul>
        </section>
        <button>Atualizar</button>
        <button>Apagar</button>
    </main>
</body>

</html>