<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>
        DETALHES
    </title>
</head>

<body>
    <nav>
        <a href="/"><input type="button" value="HOME" id="nav"></button></a>
        <a href="/cadastro"><input type="button" value="CADASTRO" id="nav"></button></a>
        <a href="/catalogo"><input type="button" value="LISTA" id="nav"></button></a>
    </nav>

    <header>
        <article id="tit">
            <%=heroi.Nome%>
        </article>
    </header>
    <main>
        <section id="dado">
            <img id="herois" src="<%=heroi.Imagem%>" alt="<%= heroi.Nome %>">
            <ul>
                <li>Força: <article>
                        <%= heroi.Força %>
                    </article>
                </li>
                <li>Velocidade: <article>
                        <%= heroi.Velocidade %>
                    </article>
                </li>
                <li>Habilidade: <article>
                        <%= heroi.Habilidade %>
                    </article>
                </li>
                <li>Equipamento: <article>
                        <%= heroi.Equipamento %>
                    </article>
                </li>
                <li>Inteligência: <article>
                        <%= heroi.Inteligência %>
                    </article>
                </li>
                <li>Poder: <article>
                        <%= heroi.Poder %>
                    </article>
                </li>
            </ul>
        </section>
        <nav id="acoes">
            <a href="/editar/<%=heroi.id%>"><button id="navAt">Editar</button></a>
            <a href="/apagar/<%=heroi.id%>"><button id="navExc">Apagar</button></a>
        </nav>
    </main>
    <script src="/js/editar.js"></script>
</body>

</html>