<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>
        <%= titulo %>
    </title>
</head>

<body>
    <nav>
        <a href="/"><input type="button" value="HOME" id="nav"></button></a>
        <a href="/cadastro"><input type="button" value="CADASTRO" id="nav"></button></a>
        <a href="/catalogo"><input type="button" value="LISTA" id="nav"></button></a>
    </nav>

    <header>
        <article id="tit">
            <%= titulo %>
        </article>
    </header>
    <main>
        <section id="dado">
            <img id="herois" src="<%=heroi.img%>" alt="<%= heroi.nome %>">
            <ul>
                <li>Nome: <article>
                        <%= heroi.nome %>
                    </article>
                </li>
                <li>Força: <article>
                        <%= heroi.forca %>
                    </article>
                </li>
                <li>Velocidade: <article>
                        <%= heroi.vel %>
                    </article>
                </li>
                <li>Habilidade: <article>
                        <%= heroi.hab %>
                    </article>
                </li>
                <li>Equipamento: <article>
                        <%= heroi.equip %>
                    </article>
                </li>
                <li>Inteligência: <article>
                        <%= heroi.int %>
                    </article>
                </li>
                <li>Poder: <article>
                        <%= heroi.poder %>
                    </article>
                </li>
            </ul>
        </section>
        <nav id="acoes">
        <button type="submit" id="navAt">Atualizar</button>
        <button type="submit" id="navExc">Apagar</button>
        </nav>
    </main>
</body>

</html>